<blockquote class="contents-cite">
    {{cite}}
    {{#if reference}}
        {{#if link}}
            <a href="{{link}}">{{reference}}</a>
        {{else}}
            {{reference}}
        {{/if}}
    {{/if}}
</blockquote>